.member{
  $bgc: #fff;
  background-color: $bgc;
  .team{
    padding: 50px 8vw 20px 8vw;
    > div{
      position: relative;
      margin-bottom: 30px;
    }
    .pic1{
      background-image: url(~@/assets/img/team/Madilyn.jpg);
    }
    .pic2{
      background-image: url(~@/assets/img/team/Jennifer.jpg);
    }
    .pic3{
      background-image: url(~@/assets/img/team/Sam.jpg);
    }
    .pic4{
      background-image: url(~@/assets/img/team/Wayne.jpg);
    }
  }
  .pic{
    background-size: cover;
    width: 80%;
    background-position: center center;
    border: 5px $bgc solid;
    outline: #72c8d5 2px solid;
    box-shadow: 0 0 10px #72c8d5;
  }
  .detail {
    position: absolute;
    right: 0;
    background-color: #0b0f2a;
    padding: 20px;
    bottom: 10%;
    box-shadow: 0px 0px 10px rgba(252,227,137,0.7);
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0;
      color: #72c8d5;
      text-shadow: 1px 3px 10px rgba(114,200,213,0.7);
      margin-bottom: 3px;
    }
    p {
      margin-bottom: 0;
      color: #fff;
      text-shadow: 1px 3px 10px rgba(255,255,255,0.8);
    }
  }
  .dev-title{
    background-image: url(~@/assets/img/bg.jpg);
    background-size: cover;
    // background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5vw;
    h3{
      color: #fff;
      margin-bottom: 0;
    }
    a{
      border: 2px #999 solid;
      padding: 10px 20px;
      color: #fff;
      transition: all 0.2s ease-in-out;
      &:hover{
        background-color: #fff;
        color: #333;
        border-color: #fff;
      }
    }
  }
  &.index{
    $bgc: #eee;
    .row{
      @media (min-width: 767.98px) {
        // flex-wrap: wrap-reverse;
      }
      @media (min-width: 992px) {
        // flex-wrap: wrap-reverse;
      }
    }
  } 
}
.process-area{
  background: #f6f6f6;
  padding: 100px 0 120px 0;
  .process{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before{
      // 直線
      content: '';
      background-image: linear-gradient(#BE93C5, rgba(#7BC6CC, 0.5));
      width: 3px;
      position: absolute;
      height: 100%;
      right: auto;
      top: 0;
    }
    &::after{
      content: '';
      background-image: linear-gradient(rgba(#7BC6CC, 0.5), rgba(#7BC6CC, 0));
      width: 3px;
      position: absolute;
      bottom: -50px;
      height: 50px;
    }
    @media (max-width: 767px){
      &::before, &::after{
        left: 5vw;
      }
    }
  }
  .list{
    width: 100%;
    margin: 10px 0;
    &:nth-child(odd) {
      .con{
        flex-direction: row;
        text-align: left;
      }
    }
    &:nth-child(1){
      margin-top: -5px;
    }
    @media (min-width: 768px){
      display: flex;
      &:nth-child(odd) {
        justify-content: flex-end;
        .con{
          // flex-direction: row-reverse;
          &::before{
            transform: translateX(-50%);
            left: 0;
          }
        }
      }
    }
    @media (max-width: 767px){
      padding: 0 5vw;
      margin: 20px 0;
    }
  }
  .con{
    position: relative;
    display: flex;
    &::before{
      content: '';
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: #f6f6f6;
      border: 3px solid #7BC6CC;
    }
    article{
      max-width: 100%;
      background-color: #fff;
      padding: 15px 20px 20px 20px;
      border-radius: 5px;
      box-shadow: 3px 3px 10px rgba(#000, 0.1);
      p{
        font-weight: bold;
        color: #ccc;
        margin-bottom: 0;
      }
      h5{
        font-size: 16px;
        text-align: left;
        line-height: 1.3;
        b {
          font-weight: bold;
          padding: 0 3px;
        }
      }
      h3{
        font-size: 20px;
        color: #5f2385;
        font-weight: bold;
        margin: 10px 0;
      }
    }
    @media (min-width: 768px){
      text-align: right;
      flex-direction: row-reverse;
      width: 50%;
      article{
        width: 400px;
        margin: 0 30px;
      }
      &::before{
        right: 0;
        left: auto;
        transform: translateX(50%);
        position: absolute;
      }
    }
    @media (max-width: 767px){
      article{
        margin-left: 30px;
        width: 100%;
      }
      &::before{
        position: absolute;
        left: -5px;
      }
    }
  }
}
.banner{
  background-color: #0B0F30;
  .row{
    height: 500px;
    @media (max-width: 767.98px) {
      height: auto;
      flex-wrap: wrap-reverse;
    }
  }
  .index{
    height: 100vh;
    .text{
      padding-top: 100px;
    }
    @media (max-width: 991px) {
      // height: auto;
      flex-wrap: wrap-reverse;
      .pic{
        min-height: 300px;
      }
      .text{
        padding-top: 50px;
      }
      .d-flex{
        justify-content: center;
      }
    }
  }
  .text{
    display: flex;
    justify-content: center;
    align-items: center;
    article{
      max-width: 80%;
      color: #fff;
    }
    .links{
      margin-top: 30px;
      font-size: 14px;
      border: 1px solid #fff;
      color: #fff;
      font-weight: 400;
      width: 180px;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      transition: all 0.3s ease-in-out;
      &:hover{
        text-decoration: none;
        background-color: #fff;
        color: #0B0F30;
      }
    }
    h2{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;
      font-size: 40px;
      font-weight: 300;
      @media (max-width: 767.98px){
        font-size: 30px;
      }
    }
    hr{
      border-color: #fff;
      width: 100px;
      margin-bottom: 30px;
      @media (max-width: 767.98px){
        display: none;
      }
    }
    @media (max-width: 767.98px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .pic{
    // background-image: url('~@/assets/img/banner.jpg');
    background-size: cover;
    background-position: center;
    @media (max-width: 767.98px) {
      min-height: 50vw;
    }
  }
}